.ShowJoke{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    
p{
    font-size: 38px;
    font-weight: bold;
   
    border-radius: 12px;
    padding: 3em;
    color: black;
    background-color: yellow;
}
}